<div class="card">
  <img
    src="{{
      book.thumbnail != undefined
        ? book.thumbnail
        : 'assets/images/capa-indisponivel.png'
    }}"
    alt="Book's cover"
  />
  <div class="card__info">
    <p class="card__title">{{ book.title | limitDescription }}</p>
    <p class="card__label">author:</p>
    <p class="card__result">{{ book.authors | author }}</p>
    <p class="card__label">published date:</p>
    <p class="card__result">{{ book.publishedDate | date: "dd/MM/yyyy" }}</p>
    <p class="card__label">publisher:</p>
    <p class="card__result">{{ book.publisher | limitDescription }}</p>
    <button (click)="onModalChange(true)">More details</button>
  </div>
</div>

<div *ngIf="isModalOpen">
  <app-modal-book
    [book]="book"
    (modalChanged)="onModalChange($event)"
  ></app-modal-book>
</div>
