<section>
  <header>Which book are you looking for?</header>
  <div class="search">
    <input type="search" [formControl]="searchField" />
    <span>
      <img src="assets/images/icone-busca.png" alt="Lupa de cor roxa" />
    </span>
  </div>
  <p>You can search for subject, author, name...</p>

  <div
    class="container-card"
    *ngIf="resultsBooks$ | async as bookList; else onError"
  >
    <div *ngIf="bookList.length == 0; else showBooks">
      <div class="error">
        <h1>
          We didn't find any results with your search. Try again with another
          term.
        </h1>
      </div>
    </div>

    <ng-template #showBooks>
      <app-book *ngFor="let book of bookList" [book]="book"></app-book>
    </ng-template>
  </div>

  <ng-template #onError>
    <div class="error" *ngIf="error$ | async; else initialScreen">
      <h1>
        Sorry, we had a problem with your search. Reload the page and try again.
      </h1>
    </div>

    <ng-template #initialScreen>
      <div class="images">
        <h1 class="images__title">
          Search for the book <br />
          you want on <br />
          our shelf!
        </h1>
        <img
          class="images__picture"
          src="assets/images/ilustracao-estante.png"
          alt="an Image of a person stading aside a bookshelf with books and plants"
        />
      </div>
    </ng-template>
  </ng-template>
</section>
